@font-face {
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Muli-Regular.ttf');
}

@font-face {
    font-family: 'Muli Light';
    /* font-style: normal;
    font-weight: normal; */
    src: url('../fonts/Muli Light.ttf');
}

@font-face {
    font-family: 'Muli Bold';
    /* font-style: normal;
    font-weight: normal; */
    src: url('../fonts/Muli-Bold.ttf');
}

html {
    font-size: 2vw;
    /* 1px = 50/1920 rem */
    overflow-x: hidden;
}

body
{
    background: #fff;
    /* font-family: SF; */
    /* font-family: 'Mulish'; */
    font-family: 'Muli Regular';
    font-weight: 300;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* min-width: 1280px; */
    max-width: 1920px;
    position: relative;
    overflow: hidden;
}

button {
    font-family: 'Muli Regular';
}

/* navigation-bar */
.navbar {
    display: flex;
    width: 100%;
    margin-bottom: 82px;
}

.navbar-default
{
    background: #157FFB;
    border: none;
    /* height: 111px; */
    height: 100px;
    margin-bottom: 82px;
}

.navbar-default .container {
    width: 100%;
    display: flex;
    padding: 0 231px;
}

.navbar-fixed-top {
    top: 0;
}

.navbar .navbar-header{
    height: 100%;
    position: relative;
}

.navbar .navbar-header .navbar-brand{
    height: 100%;   
    align-items: center;
    display: flex;
}

.navbar .navbar-header .navbar-brand img{
    width: auto;
    /* height: 74.47px; */
    height: 67px;
}

.navbar .navbar-menu {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
}

.navbar .navbar-menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
    height: 100%;
    margin: 0;
}

.navbar .navbar-menu ul li{
    list-style-type: none;
    height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar .navbar-menu ul li:not(:last-child)
{
    padding: 23px 15px;
    height: calc(100% - 46px);
}

.navbar .navbar-menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.27;
    display: flex;
    font-size: 22px;
}

.navbar .navbar-menu ul li:not(:last-child) a {
    height: 100%;
    display: flex;
    align-items: center;
    place-content: center;
    font-weight: 400;
    border: #157FFB;
    background: #157FFB;
    color: #FFFFFF;
    line-height: 1.27;
    width: 127px;
    font-size: 22px;
    border-radius: 12px;
}

.navbar .navbar-menu ul li:not(:last-child) a:hover, 
.navbar .navbar-menu ul li:not(:last-child) a:focus {
    border: #FFFFFF;
    background: #FFFFFF;
    color: #157FFB;
    font-weight: 700;
}

.navbar .navbar-menu ul li .contact-button-container {
    height: calc(100% - 46px);
    margin: 23px 0;
    margin-left: 20px;
}

.navbar .navbar-menu ul li .contact-button-container .contact-button {
    /* background-color: #FFFFFF;
    border: #FFFFFF;
    color: #157FFB; */
    background-color: #FF6937;
    border: #FF6937;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.27;
    font-size: 22px;
    padding: 0 28px;
    border-radius: 12px;
    cursor: pointer;
}

/* home-section */
.home-section {
    margin-bottom: 63.34px;
}

.home-section .dots {
    display: block;
    position: absolute;
    padding-top: 15px;
}

.home-section .container {
    display: flex;
    height: 917.68px;
}

.home-section .container .home-content {
    padding-top: 48px;
    padding-left: 228px;    
    z-index: 1;
}

.home-section .container .home-content .home-content-container .home-title {
    font-family: 'Muli Bold';
    color: #000000;
    font-weight: 700;
    line-height: 1.24;
    font-size: 50px;
    /* font-size: 54px; */
    padding-bottom: 35.8px;
    width: 715px;
}

.home-section .container .home-content .home-content-container .home-description-container {
    line-height: 1.52;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 42px;
}

.home-section .container .home-content .home-content-container .home-description-container .home-description {
    font-family: 'Muli Light';
    color: #7D7987;
    width: 634.8px;
    max-height: 190px;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.home-section .container .home-content .home-content-container .home-description-container .more-description {
    color: #157FFB;
    text-decoration: underline;
}

.home-section .container .home-content .home-content-container .home-description-container .more-description:hover {
    cursor: pointer;
}

.home-section .container .home-content .home-content-container .home-consult-button {
    font-family: 'Muli Bold';
    background: #157FFB;
    border: #157FFB;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.255;
    font-size: 22px;
    border-radius: 100px;
    height: 67.2px;
    padding: 0 54px 5px;
    cursor: pointer;
}

.home-section .container .home-content .home-content-container .home-consult-button:hover {
    background-color: #FF6937;
    border: #FF6937;
}

.home-section .container .home-image {
    position: absolute;
    right: 0;
}

.home-section .container .home-image-container {
    width: 1222px;
}

.home-section .container .home-image-container img{
    height: auto;
    width: 100%;
}

/* common title */
.common-title-container {
    font-family: 'Muli Bold';
    font-weight: 700;
    font-size: 43px;
    line-height: 1.56;
}

.common-title-container .common-title {
    text-align: center;
    /* padding-bottom: 73px; */
}

.common-title-container .common-line {
    border-bottom: 2.4px solid #000000;
    width: 67.2px;
    margin: 30px auto;
}

.common-title-container::after {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 67.2px;
    border-bottom: 2.4px solid black;
    z-index: -1;
}

/* motivation-section */
.motivation-section {
    margin-bottom: 100px;
}

.motivation-section .motivation-left-frame {
    display: block;
    position: absolute;
    z-index: -1;
    width: 896.75px;
    height: 1161.53px;
}

.motivation-section .motivation-left-frame img {
    width: 100%;
    height: 100%;
}

.motivation-section .motivation-right-frame {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    padding-right: 214.3px;
    padding-top: 713.2px;
}

.motivation-section .motivation-right-frame img {
    height: 138px;
    width: 157.9px;
}

.motivation-section .motivation-description {
    font-family: 'Muli Light';
    color: #7D7987;
    text-align: center;
    font-weight: 300;
    line-height: 1.63;
    font-size: 22px;
    padding: 0 336px 20px;
}

.motivation-section .applications {
    margin-bottom: 75px;
}

.motivation-section .applications .applications-title {
    font-family: 'Muli Bold';
    font-weight: 700;
    line-height: 1.63;
    color: #7D7987;
    text-align: center;
    padding: 0 375px 48px;
    font-size: 22px;
}

.motivation-section .applications .applications-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 267px;
}

.motivation-section .applications .applications-grid-container .grid-item {
    padding: 21px;
}

.motivation-section .applications .applications-grid-container .initially-hidden {
    display: none;
}

.motivation-section .applications .applications-grid-container .grid-item .card-container {
    background: #FFFFFF;
    width: 420px;
}

.motivation-section .applications .applications-grid-container .grid-item .card-container .card {
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.2);
    padding: 68px 0;
    border-radius: 24px;
}

.motivation-section .applications .applications-grid-container .grid-item .card-container .card .image-container {
    /* height: 109px; */
    height: 135px;
    display: flex;
    justify-content: center;
}

.motivation-section .applications .applications-grid-container .grid-item .card-container .card .image-container .image{
    width: 187px;
    height: 109px;
}

.motivation-section .applications .applications-grid-container .grid-item .card-container .card .content-container {
    display: flex;
    align-items: center;
    place-content: center;
    height: 60px;
    padding: 0 105px;
}

.motivation-section .applications .applications-grid-container .grid-item .card-container .card .content-container .content {
    font-family: 'Muli Bold';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.255;
    text-align: center;
}

.motivation-section .motivation-more-button {
    display: flex;
}

.motivation-section .motivation-more-button button {
    display: flex;
    align-items: center;
    place-content: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #157FFB;

    height: 67.2px ;
    border-radius: 66px;
    border: 2px solid #157FFB;
    width: 240px;
    font-size: 21px;
    line-height: 3.42;

}

.motivation-section .motivation-more-button button:hover {
    color: #FFFFFF;
    background-color: #157FFB;
    cursor: pointer;
}

/* solution-section */
.solution-section {
    height: 510px;
    margin-bottom: 83px;
}

.solution-section .solution-left-frame {
    display: block;
    position: absolute;
    z-index: -1;
    padding-top: 368.4px;
    padding-left: 228px;
}

.solution-section .solution-right-frame {
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    padding-right: 228.5px;
    transform: translate(0, -14.8px);
}

.solution-section .solution-left-frame img, .solution-section .solution-right-frame img {
    width: 157.9px;
    height: 138px;
}

.solution-section .solution-background {
    position: relative;
    padding: 0 288px;
    width: calc(100% - 288px*2);
    height: 100%;
}

.solution-section .solution-content-container {
    transform: translate(0, -520px);
    /* padding: 76.8px 435px 0; */
    /* padding: 100px 435px 0; */
    padding: 100px 410px 0;

}

.solution-section .common-title {
    color: #FFFFFF;
}

.solution-section .common-line {
    border-color: #ffffff;
}

.solution-section .solution-content-container .solution-description {
    font-family: 'Muli Light';
    font-weight: 300;
    line-height: 1.63;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
}

/* approach-section */
.approach-section {
    margin-bottom: 81.6px;
}

.approach-section .approach-frame {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    padding-top: 141.2px;
    transform: translate(26.7px, 0);
}

.approach-section .approach-frame img {
    width: 157.9px;
    height: 138px;
}

.approach-section .approach-description {
    font-family: 'Muli Light';
    color: #7D7987;
    font-weight: 300;
    line-height: 1.36;
    font-size: 22px;
    padding-bottom: 75px;
    text-align: center;
}

.approach-section .approaches-container {
    padding: 0 257px;
    display: flex;
}

.approach-section .approaches-container .approach-item {
    padding: 0 31px;
    flex: 1;
}

.approach-section .approaches-container .approach-item .card {
    background: #FFFFFF;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 24px;
    padding-top: 55px;
    height: 638px;
}

.approach-section .approaches-container .approach-item .card .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 44.6px;
}

.approach-section .approaches-container .approach-item .card .image-container .image {
    height: 114px;
    width: 114px;
}

.approach-section .approaches-container .approach-item .card .title {
    font-family: 'Muli Bold';
    line-height: 1.54;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    padding-bottom: 35.41px;
}

.approach-section .approaches-container .approach-item .card .details {
    width: fit-content;
    margin-left:auto;
    margin-right: auto;
}

.approach-section .approaches-container .approach-item .card .details .detail-item {
    display: flex;
    padding-bottom: 13px;
}

.approach-section .approaches-container .approach-item .card .details .detail-item .mark {
    padding-right: 28px;
}

.approach-section .approaches-container .approach-item .card .details .detail-item .content {
    font-weight: 400;
    line-height: 1.68;
    color: #4F5665;
    font-size: 22px;
}

/* benefit-section */
.benefit-section {
    margin-bottom: 100px;
}

.benefit-section .benefit-left-frame {
    display: block;
    position: absolute;
    z-index: -1;
    padding-top: 124.67px;
    padding-left: 229.2px;
}

.benefit-section .benefit-left-frame img {
    width: 157.9px;
    height: 138px;
}

.benefit-section .benefit-right-frame {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    padding-right: 228.5px;
    transform: translate(600px, 70px);
}

.benefit-section .benefit-right-frame img {
    width: 941.79px;
    height: 618.37px;
}

.benefit-section .common-line {
    margin-bottom: 75.66px;
}

.benefit-section .benefits-container {
    display: flex;
    padding: 0 267px;
}

.benefit-section .benefits-container .benefit-item {
    flex: 1;
    padding: 0 21px;
}

.benefit-section .benefits-container .benefit-item .card {
    background: #FFFFFF;
    border-radius: 24px;
    padding-top: 90px;
    height: 557px;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.2);
}

.benefit-section .benefits-container .benefit-item .card .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.benefit-section .benefits-container .benefit-item .card .image-container .image {
    height: 114px;
    width: 114px;
}

.benefit-section .benefits-container .benefit-item .card .title {
    font-family: 'Muli Bold';
    font-weight: 700;
    text-align: center;
    line-height: 1.6;
    font-size: 24px;
    padding: 0 65px 15px;
    min-height: 76.8px;
}

.benefit-section .benefits-container .benefit-item .card .description {
    color: #7D7987;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    font-size: 22px;
    padding: 0 50px;
}

/* coding-required section */

.coding-required-section {
    margin-bottom: 75.6px;
    width: 1920px;
    height: 912px;
}

.coding-required-section .coding-required-background {
    position: relative;
    width: 100%;
    height: 100%;
}

.coding-required-section .coding-required-content-container {
    padding-top: 300px;
    padding-left: 106px;
    width: 941px;
    /* transform: translate(0, calc(100vw * -912/1920 - 10px)); */
    /* width: 100vw = 1920px */
    transform: translate(0, calc(-912px - 10px));

}

.coding-required-section .coding-required-content-container .common-title {
    color: #ffffff;
}

.coding-required-section .coding-required-content-container .common-line {
    border-color: #ffffff;
}

.coding-required-content-container .coding-required-description {
    font-family: 'Muli Light';
    font-weight: 300;
    text-align: center;
    font-size: 22px;
    line-height: 1.27;
    color: #FFFFFF;
}

.coding-required-content-container .coding-required-description b {
    font-family: 'Muli Bold';
}

/* ready-to-protect-section */

.ready-to-protect-section {
    height: 318px;
    margin-bottom: 75px;
}

.ready-to-protect-section .ready-to-protect-frame {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    padding-top: 329.34px;
    padding-right: 109.7px;
}

.ready-to-protect-section .ready-to-protect-frame img { 
    Width: 157.9px;
    height: 138px;
}

.ready-to-protect-section .ready-to-protect-background {
    padding: 0 288px;
    width: calc(100% - 288px * 2);
    height: 100%;
}

.ready-to-protect-section .ready-to-protect-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    transform: translate(0, -328px);
    padding: 0 460px;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-content-container {
    padding-top: 93px;
    /* width: 375px; */
    width: 380px;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-content-container .ready-to-protect-title {
    font-family: 'Muli Bold';
    font-weight: 700;
    color: #ffffff;
    font-size: 43px;
    line-height: 1.047;
    /* padding-bottom: 33.5px; */
    padding-bottom: 23.46px;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-content-container .ready-to-protect-description {
    font-weight: 400;
    color: #ffffff;
    font-size: 22px;
    line-height: 1.36;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-button-container {
    text-align: right;
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-end;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-button-container button { 
    width: 250px;
    height: 60px;

    border-radius: 100px;
    padding: 0 41px;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.19;
    color: #ffffff;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-button-container .request-button {
    background: #157FFB;
    border: #157FFB;
    margin-bottom: 15.5px;
    cursor: pointer;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-button-container .contact-button {
    background: #30A64A;
    border: #30A64A;
    cursor: pointer;
}

/* footer */

footer {
    background: #222425;
    color: #ffffff;
    place-content: center;
    height: 98px;
    width: 100%;
}

footer .footer-icon-container {
    position: absolute;
    left: 230px;
}

footer .footer-icon-container .footer-icon-items-container {
    display: flex;
    width: 100%;
    height: 98px;
}

footer .footer-icon-container .footer-icon-items-container .footer-icon-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 35px 30px;
}

footer .footer-icon-container .footer-icon-items-container .footer-icon-item .icon {
    height: 100%;
}

footer .footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    height: 100%;
}

/* Responsive < 1280, 1281 - 1919, > 1920 */

/* Smaller or equal to 1280 */
@media screen and ( max-width: 1280px ) {
    /* navigation-bar */
    .navbar {
        margin-bottom: 54.6px;
    }

    .navbar-default
    {
        height: 66.6px;
        margin-bottom: 54.6px;
    }

    .navbar-default .container {
        padding: 0 154px;
    }

    .navbar .navbar-header .navbar-brand img{
        height: 44.68px;
    }

    .navbar .navbar-menu ul li:not(:last-child)
    {
        padding: 15.3px 10px;
        height: calc(100% - 30.6px);
    }

    .navbar .navbar-menu ul li a{
        font-size: 14.6px;
    }

    .navbar .navbar-menu ul li:not(:last-child) a {
        width: 84.6px;
        font-size: 14.6px;
        border-radius: 8px;
    }

    .navbar .navbar-menu ul li .contact-button-container {
        height: calc(100% - 30.6px);
        margin: 15.3px 0;
        margin-left: 13.3px;
    }

    .navbar .navbar-menu ul li .contact-button-container .contact-button {
        font-size: 14.6px;
        padding: 0 18.6px;
        border-radius: 8px;
    }

    /* home-section */
    .home-section {
        margin-bottom: 42.23px;
    }

    .home-section .dots {
        padding-top: 10px;
    }

    .home-section .container {
        height: 611.787px;
    }

    .home-section .container .home-content {
        padding-top: 32px;
        padding-left: 152px;    
    }

    .home-section .container .home-content .home-content-container .home-title {
        /* font-size: 36px; */
        font-size: 33.3px;
        padding-bottom: 23.87px;
        width: 476.6px;
    }

    .home-section .container .home-content .home-content-container .home-description-container {
        margin-bottom: 28px;
        font-size: 16.6px;
    }

    .home-section .container .home-content .home-content-container .home-description-container .home-description {
        width: 423.2px;
        max-height: 126.6px;
    }

    .home-section .container .home-content .home-content-container .home-consult-button {
        font-size: 14.6px;
        border-radius: 66.6px;
        height: 44.8px;
        padding: 0 36px 3.33px;
    }

    .home-section .container .home-image-container {
        width: 814.6px;
    }

    /* common title */
    .common-title-container {
        font-size: 28.7px;
    }

    .common-title-container .common-line {
        border-bottom: 1.6px solid #000000;
        width: 44.8px;
        margin: 20px auto;
    }

    .common-title-container::after {
        margin-left: -33.3px;
        width: 44.8px;
        border-bottom: 1.6px solid black;
    }

    /* motivation-section */
    .motivation-section {
        margin-bottom: 66.6px;
    }

    .motivation-section .motivation-left-frame {
        width: 597.83px;
        height: 774.353px;
    }

    .motivation-section .motivation-right-frame {
        padding-right: 142.87px;
        padding-top: 475.47px;
    }

    .motivation-section .motivation-right-frame img {
        height: 92px;
        width: 105.27px;
    }

    .motivation-section .motivation-description {
        font-size: 14.67px;
        padding: 0 224px 13.3px;
    }

    .motivation-section .applications {
        margin-bottom: 50px;
    }

    .motivation-section .applications .applications-title {
        font-family: 'Muli Bold';
        padding: 0 250px 32px;
        font-size: 14.67px;
    }

    .motivation-section .applications .applications-grid-container {
        margin: 0 178px;
    }

    .motivation-section .applications .applications-grid-container .grid-item {
        padding: 14px;
    }

    .motivation-section .applications .applications-grid-container .grid-item .card-container {
        width: 280px;
    }

    .motivation-section .applications .applications-grid-container .grid-item .card-container .card {
        box-shadow: 2.67px 2.67px 26.7px rgba(0, 0, 0, 0.2);
        padding: 45.3px 0;
        border-radius: 16px;
    }

    .motivation-section .applications .applications-grid-container .grid-item .card-container .card .image-container {
        height: 90px;
    }

    .motivation-section .applications .applications-grid-container .grid-item .card-container .card .image-container .image{
        width: 124.67px;
        height: 72.67px;
    }

    .motivation-section .applications .applications-grid-container .grid-item .card-container .card .content-container {
        height: 40px;
        padding: 0 72px;
    }

    .motivation-section .applications .applications-grid-container .grid-item .card-container .card .content-container .content {
        font-size: 16px;
    }

    .motivation-section .motivation-more-button button {
        height: 44.8px ;
        border-radius: 44px;
        border: 1.33px solid #157FFB;
        width: 160px;
        font-size: 14px;
    }

    /* solution-section */
    .solution-section {
        height: 340px;
        margin-bottom: 55.3px;
    }

    .solution-section .solution-left-frame {
        padding-top: 245.6px;
        padding-left: 152px;
    }

    .solution-section .solution-right-frame {
        padding-right: 152.3px;
        transform: translate(0, -9.86px);
    }

    .solution-section .solution-left-frame img, .solution-section .solution-right-frame img {
        width: 105.26px;
        height: 92px;
    }

    .solution-section .solution-background {
        padding: 0 192px;
        width: calc(100% - 192px * 2);
    }

    .solution-section .solution-content-container {
        transform: translate(0, -346.67px);
        /* padding: 76.8px 435px 0; */
        /* padding: 66.67px 290px 0; */
        padding: 66.67px 273.3px 0;
    }

    .solution-section .solution-content-container .solution-description {
        font-size: 14.67px;
    }

    .solution-section .common-line {
        border-color: #ffffff;
    }

    /* approach-section */
    .approach-section {
        margin-bottom: 54.4px;
    }

    .approach-section .approach-frame {
        padding-top: 94.13px;
        transform: translate(17.8px, 0);
    }

    .approach-section .approach-frame img {
        width: 105.27px;
        height: 92px;
    }

    .approach-section .approach-description {
        font-size: 14.67px;
        padding-bottom: 50px;
    }

    .approach-section .approaches-container {
        padding: 0 171.3px;
    }

    .approach-section .approaches-container .approach-item {
        padding: 0 20.67px;
    }

    .approach-section .approaches-container .approach-item .card {
        box-shadow: 2.67px 2.67px 26.7px rgba(0, 0, 0, 0.2);
        border-radius: 10.67px;
        padding-top: 36.67px;
        height: 425.33px;
    }

    .approach-section .approaches-container .approach-item .card .image-container {
        margin-bottom: 29.73px;
    }

    .approach-section .approaches-container .approach-item .card .image-container .image {
        height: 76px;
        width: 76px;
    }

    .approach-section .approaches-container .approach-item .card .title {
        font-size: 16px;
        padding-bottom: 23.6px;
    }

    .approach-section .approaches-container .approach-item .card .details .detail-item {
        padding-bottom: 8.6px;
    }

    .approach-section .approaches-container .approach-item .card .details .detail-item .mark {
        padding-right: 18.67px;
    }

    .approach-section .approaches-container .approach-item .card .details .detail-item .content {
        font-size: 14.67px;
    }

    /* benefit-section */

    .benefit-section {
        margin-bottom: 66.67px;
    }

    .benefit-section .benefit-left-frame {
        padding-top: 83.113px;
        padding-left: 152.8px;
    }

    .benefit-section .benefit-left-frame img {
        width: 105.26px;
        height: 92px;
    }

    .benefit-section .benefit-right-frame {
        padding-right: 152.3px;
        transform: translate(400px, 46.6px);
    }
    
    .benefit-section .benefit-right-frame img {
        width: 627.8px;
        height: 412.246px;
    }

    .benefit-section .common-line {
        margin-bottom: 50.44px;
    }

    .benefit-section .benefits-container {
        padding: 0 178px;
    }

    .benefit-section .benefits-container .benefit-item {
        padding: 0 9.3px;
    }

    .benefit-section .benefits-container .benefit-item .card {
        border-radius: 16px;
        padding-top: 60px;
        height: 371.3px;
        box-shadow: 2.67px 2.67px 26.7px rgba(0, 0, 0, 0.2);
    }

    .benefit-section .benefits-container .benefit-item .card .image-container {
        margin-bottom: 30px;
    }

    .benefit-section .benefits-container .benefit-item .card .image-container .image {
        height: 76px;
        width: 76px;
    }

    .benefit-section .benefits-container .benefit-item .card .title {
        font-size: 16px;
        padding: 0 43.3px 10px;
    }

    .benefit-section .benefits-container .benefit-item .card .description {
        font-size: 14.67px;
        padding: 0 32.9px
    }

    /* coding-required section */

    .coding-required-section {
        margin-bottom: 50.4px;
        width: 1280px;
        height: 608px;
    }

    .coding-required-section .coding-required-content-container {
        padding-top: 200px;
        padding-left: 70.67px;
        width: 627.3px;
        transform: translate(0, calc(1280px * -912/1920 - 6.66px));

    }

    .coding-required-content-container .coding-required-description {
        font-size: 14.67px;
    }

    /* ready-to-protect-section */

    .ready-to-protect-section {
        height: 212px;
        margin-bottom: 50px;
    }

    .ready-to-protect-section .ready-to-protect-frame {
        padding-top: 219.56px;
        padding-right: 73.13px;
    }

    .ready-to-protect-section .ready-to-protect-frame img { 
        Width: 105.26px;
        height: 92px;
    }

    .ready-to-protect-section .ready-to-protect-background {
        padding: 0 192px;
        width: calc(100% - 192px * 2);
    }

    .ready-to-protect-section .ready-to-protect-container {
        transform: translate(0, -218.67px);
        padding: 0 306.6px;
    }

    .ready-to-protect-section .ready-to-protect-container .ready-to-protect-content-container {
        padding-top: 62px;
        /* width: 250px; */
        width: 253.3px;
    }

    .ready-to-protect-section .ready-to-protect-container .ready-to-protect-content-container .ready-to-protect-title {
        font-size: 28.6px;
        padding-bottom: 15.64px;
    }

    .ready-to-protect-section .ready-to-protect-container .ready-to-protect-content-container .ready-to-protect-description {
        font-size: 14.67px;
    }

    .ready-to-protect-section .ready-to-protect-container .ready-to-protect-button-container button { 
        width: 166.67px;
        height: 40px;
        border-radius: 66.66px;
        padding: 0 27.3px;
        font-size: 14px;
    }

    .ready-to-protect-section .ready-to-protect-container .ready-to-protect-button-container .request-button {
        margin-bottom: 10.33px;
    }

    /* footer */

    footer {
        height: 65.3px;
    }

    footer .footer-icon-container {
        left: 153.33px;
    }

    footer .footer-icon-container .footer-icon-items-container {
        height: 65.3px;
    }

    footer .footer-icon-container .footer-icon-items-container .footer-icon-item {
        padding: 23.3px 20px;
    }

    footer .footer-title {
        font-size: 12px;
    }
}

@media only screen and ( min-width: 1281px ) and ( max-width: 1919px ) {
    /* navigation-bar */

    .navbar {
        margin-bottom: 2.135rem;
    }

    .navbar-default
    {
        height: 2.601rem;
        margin-bottom: 2.135rem;
    }

    .navbar-default .container {
        padding: 0 6.016rem;
    }

    .navbar .navbar-header .navbar-brand img{
        height: 1.746rem;
    }

    .navbar .navbar-menu ul li:not(:last-child)
    {
        padding: 0.657rem 0.39rem;
        height: calc(100% - 1.314rem);
    }

    .navbar .navbar-menu ul li a{
        font-size: 0.573rem;
    }

    .navbar .navbar-menu ul li:not(:last-child) a {
        width: 3.3rem;
        font-size: 0.573rem;
        border-radius: 0.3125rem;
    }

    .navbar .navbar-menu ul li .contact-button-container {
        height: calc(100% - 1.198rem);
        margin: 0.599rem 0;
        margin-left: 0.52rem;
    }

    .navbar .navbar-menu ul li .contact-button-container .contact-button {
        font-size: 0.573rem;
        padding: 0 0.73rem;
        border-radius: 0.3125rem;
    }

    /* home-section */
    
    .home-section {
        margin-bottom: 1.65rem;
    }

    .home-section .dots {
        padding-top: 0.39rem;
    }

    .home-section .container {
        height: 23.9rem;
    }

    .home-section .container .home-content {
        padding-top: 1.25rem;
        padding-left: 5.9375rem;    
    }

    .home-section .container .home-content .home-content-container .home-title {
        /* font-size: 1.40625rem; */
        font-size: 1.3rem;
        padding-bottom: 0.932rem;
        width: 18.62rem;
    }

    .home-section .container .home-content .home-content-container .home-description-container {
        font-size: 0.65rem;
        margin-bottom: 1.09375;
    }

    .home-section .container .home-content .home-content-container .home-description-container .home-description {
        width: 16.53rem;
        max-height: 4.95rem;
    }

    .home-section .container .home-content .home-content-container .home-consult-button {
        font-size: 0.573rem;
        border-radius: 2.6rem;
        height: 1.75rem;
        padding: 0 1.40625rem 0.13rem;
    }

    .home-section .container .home-image-container {
        width: 31.82rem;
    }

    /* common title */

    .common-title-container {
        font-size: 1.12rem;
    }

    .common-title-container .common-line {
        border-bottom: 0.0625rem solid #000000;
        width: 1.75rem;
        margin: 0.78125rem auto;
    }

    .common-title-container::after {
        margin-left: -1.3rem;
        width: 1.75rem;
        border-bottom: 0.0625rem solid black;
    }

    /* motivation-section */

    .motivation-section {
        margin-bottom: 2.6rem;
    }

    .motivation-section .motivation-left-frame {
        width: 23.35rem;
        height: 30.25rem;
    }

    .motivation-section .motivation-right-frame {
        padding-right: 5.58rem;
        padding-top: 18.57rem;
    }

    .motivation-section .motivation-right-frame img {
        height: 3.59375rem;
        width: 4.11rem;
    }

    .motivation-section .motivation-description {
        font-size: 0.573rem;
        padding: 0 8.75rem 0.52rem;
    }

    .motivation-section .applications {
        margin-bottom: 1.95rem;
    }

    .motivation-section .applications .applications-title {
        padding: 0 9.766rem 1.25rem;
        font-size: 0.573rem;
    }

    .motivation-section .applications .applications-grid-container {
        margin: 0 6.95rem;
    }

    .motivation-section .applications .applications-grid-container .grid-item {
        padding: 0.547rem;
    }

    .motivation-section .applications .applications-grid-container .grid-item .card-container {
        width: 10.9375rem;
    }

    .motivation-section .applications .applications-grid-container .grid-item .card-container .card {
        box-shadow: 0.1rem 0.1rem 1.04rem rgba(0, 0, 0, 0.2);
        padding: 1.77rem 0;
        border-radius: 0.625rem;
    }

    .motivation-section .applications .applications-grid-container .grid-item .card-container .card .image-container {
        height: 3.52rem;
    }

    .motivation-section .applications .applications-grid-container .grid-item .card-container .card .image-container .image{
        width: 4.87rem;
        height: 2.84rem;
    }

    .motivation-section .applications .applications-grid-container .grid-item .card-container .card .content-container {
        height: 1.5625rem;
        padding: 0 2.8125rem;
    }

    .motivation-section .applications .applications-grid-container .grid-item .card-container .card .content-container .content {
        font-size: 0.625rem;
    }

    .motivation-section .motivation-more-button button {
        height: 1.75rem;
        border-radius: 1.71875rem;
        border: 0.05rem solid #157FFB;
        width: 6.25rem;
        font-size: 0.547rem;
    }
    
    /* solution-section */

    .solution-section {
        height: 13.28125rem;
        margin-bottom: 2.16rem;
    }

    .solution-section .solution-left-frame {
        padding-top: 9.59375rem;
        padding-left: 5.9375rem;
    }

    .solution-section .solution-right-frame {
        padding-right: 5.95rem;
        transform: translate(0, -0.385rem);
    }

    .solution-section .solution-left-frame img, .solution-section .solution-right-frame img {
        width: 4.11rem;
        height: 3.59375rem;
    }

    .solution-section .solution-background {
        padding: 0 7.5rem;
        width: calc(100% - 7.5rem * 2);
    }

    .solution-section .solution-content-container {
        transform: translate(0, -13.54rem);
        /* padding: 2.6rem 11.328rem 0; */
        padding: 2.6rem 10.68rem 0;
    }

    .solution-section .common-line {
        border-color: #ffffff;
    }

    .solution-section .solution-content-container .solution-description {
        font-size: 0.573rem;
    }

    /* approach-section */
    .approach-section {
        margin-bottom: 2.125rem;
    }

    .approach-section .approach-frame {
        padding-top: 3.677rem;
        transform: translate(0.695rem, 0);
    }

    .approach-section .approach-frame img {
        width: 4.11rem;
        height: 3.59375rem;
    }

    .approach-section .approach-description {
        font-size: 0.573rem;
        padding-bottom: 1.95rem;
    }

    .approach-section .approaches-container {
        padding: 0 6.69rem;
    }

    .approach-section .approaches-container .approach-item {
        padding: 0 0.8rem;
    }

    .approach-section .approaches-container .approach-item .card {
        box-shadow: 0.1rem 0.1rem 1.04rem rgba(0, 0, 0, 0.2);
        border-radius: 0.625rem;
        padding-top: 1.432rem;
        height: 16.614rem;
    }

    .approach-section .approaches-container .approach-item .card .image-container {
        margin-bottom: 1.161rem;
    }

    .approach-section .approaches-container .approach-item .card .image-container .image {
        height: 2.96875rem;
        width: 2.96875rem;
    }

    .approach-section .approaches-container .approach-item .card .title {
        font-size: 0.625rem;
        padding-bottom: 0.92rem;
    }

    .approach-section .approaches-container .approach-item .card .details .detail-item {
        padding-bottom: 0.338rem;
    }

    .approach-section .approaches-container .approach-item .card .details .detail-item .mark {
        padding-right: 0.73rem;
    }

    .approach-section .approaches-container .approach-item .card .details .detail-item .content {
        font-size: 0.573rem;
    }

    /* benefit-section */
    .benefit-section {
        margin-bottom: 2.6rem;
    }

    .benefit-section .benefit-left-frame {
        padding-top: 3.25rem;
        padding-left: 5.96875rem;
    }

    .benefit-section .benefit-left-frame img {
        width: 4.11rem;
        height: 3.59375rem;
    }

    .benefit-section .benefit-right-frame {
        padding-right: 5.95rem;
        transform: translate(15.625rem, 1.822rem);
    }
    
    .benefit-section .benefit-right-frame img {
        width: 24.525rem;
        height: 16.1rem;
    }

    .benefit-section .common-line {
        margin-bottom: 1.97rem;
    }

    .benefit-section .benefits-container {
        padding: 0 6.953125rem;
    }

    .benefit-section .benefits-container .benefit-item {
        padding: 0 0.546875rem;
    }

    .benefit-section .benefits-container .benefit-item .card {
        border-radius: 0.625rem;
        padding-top: 2.34375rem;
        height: 14.5rem;
        box-shadow: 0.1rem 0.1rem 1.04rem rgba(0, 0, 0, 0.2);
    }

    .benefit-section .benefits-container .benefit-item .card .image-container {
        margin-bottom: 1.171875rem;
    }

    .benefit-section .benefits-container .benefit-item .card .image-container .image {
        height: 2.96875rem;
        width: 2.96875rem;
    }

    .benefit-section .benefits-container .benefit-item .card .title {
        font-size: 0.625rem;
        padding: 0 1.69rem 0.39rem;
    }

    .benefit-section .benefits-container .benefit-item .card .description {
        font-size: 0.573rem;
        padding: 0 1.3rem;
    }

    /* coding-required section */

    .coding-required-section {
        margin-bottom: 1.9675rem;
        width: 100vw;
        height: calc(100vw * 912/1920);
    }

    .coding-required-section .coding-required-content-container {
        padding-top: 7.8125rem;
        padding-left: 2.76rem;
        width: 24.5rem;
        transform: translate(0, calc(100vw * -912/1920 - 0.26rem));
    }

    .coding-required-section .coding-required-content-container .common-title {
        color: #ffffff;
    }

    .coding-required-section .coding-required-content-container .common-line {
        border-color: #ffffff;
    }

    .coding-required-content-container .coding-required-description {
        font-size: 0.573rem;
    }

    /* ready-to-protect-section */

    .ready-to-protect-section {
        height: 8.28125rem;
        margin-bottom: 1.953125rem;
    }

    .ready-to-protect-section .ready-to-protect-frame {
        padding-top: 8.577rem;
        padding-right: 2.857rem;
    }

    .ready-to-protect-section .ready-to-protect-frame img { 
        Width: 4.11rem;
        height: 3.59375rem;
    }

    .ready-to-protect-section .ready-to-protect-background {
        padding: 0 7.5rem;
        width: calc(100% - 7.5rem * 2);
    }

    .ready-to-protect-section .ready-to-protect-container {
        transform: translate(0, -8.54rem);
        padding: 0 11.98rem;
    }

    .ready-to-protect-section .ready-to-protect-container .ready-to-protect-content-container {
        padding-top: 2.42rem;
        /* width: 9.77rem; */
        width: 9.9rem;
    }

    .ready-to-protect-section .ready-to-protect-container .ready-to-protect-content-container .ready-to-protect-title {
        font-size: 1.12rem;
        padding-bottom: 0.61rem;
    }

    .ready-to-protect-section .ready-to-protect-container .ready-to-protect-content-container .ready-to-protect-description {
        font-size: 0.573rem;
    }

    .ready-to-protect-section .ready-to-protect-container .ready-to-protect-button-container button { 
        width: 6.51rem;
        height: 1.5625rem;
        border-radius: 2.6rem;
        padding: 0 1.06rem;
        font-size: 0.547rem;
    }

    .ready-to-protect-section .ready-to-protect-container .ready-to-protect-button-container .request-button {
        margin-bottom: 0.4rem;
    }

    /* footer */

    footer {
        height: 2.55rem;
    }

    footer .footer-icon-container {
        left: 5.99rem;
    }

    footer .footer-icon-container .footer-icon-items-container {
        height: 2.55rem;
    }

    footer .footer-icon-container .footer-icon-items-container .footer-icon-item {
        padding: 0.911rem 0.78125rem;
    }

    footer .footer-title {
        font-size: 0.46875rem;
    }
}