@font-face {
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Muli-Regular.ttf');

}

html {
    font-size: 2vw;
    /* 1px = 50/1920 */
}

body
{
    background: #fff;
    /* font-family: SF; */
    /* font-family: 'Mulish'; */
    font-family: 'Muli Regular';
    font-weight: 300;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    /* overflow: hidden; */
}

button {
    font-family: 'Muli Regular';
}
.white a {
	color: #fff;
}

h1 {
    margin-top: 0;
}
h1,
h2,
h3,
h4
{
    font-weight: bold;
}
p {
    line-height: 1.6em;
}
.btn-primary{
    background-color: #157FFB;
    border-color:#157FFB;
}

/* navigation-bar */
.navbar {
    display: flex;
    width: 100%;
    margin-bottom: 82px;
    /* margin-bottom: 2.08rem; */
}

.navbar-default
{
    background: #157FFB;
    border: none;
    height: 136px;
    margin-bottom: 82px;
    /* height: 3.611rem;
    margin-bottom: 2.08rem; */
}

.navbar-default .container {
    width: 100%;
    display: flex;
    padding: 0 231px;
}

.navbar-fixed-top {
    top: 0;
}

.navbar .navbar-header{
    height: 100%;
    position: relative;
}

.navbar .navbar-header .navbar-brand{
    height: 100%;   
    align-items: center;
    display: flex;
    /* font-size: 32px; */
    /* font-size: 0.833rem; */
}

.navbar .navbar-header .navbar-brand img{
    width: auto;
    height: 74.47px;
    /* height: 92.47px; */
}

.navbar .navbar-menu {
    display: flex;
    /* position: absolute; */
    position: relative;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
    /* right: 2.916rem; */
}

.navbar .navbar-menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
    height: 100%;
    margin: 0;
}

.navbar .navbar-menu ul li{
    list-style-type: none;
    height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar .navbar-menu ul li:not(:last-child)
{
    padding: 40px 15px;
    height: calc(100% - 80px);
}

.navbar .navbar-menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.27;
    display: flex;
    font-size: 22px;
    /* font-size: 0.625rem; */
}
.navbar .navbar-menu ul li:not(:last-child) a {
    height: 100%;
    display: flex;
    align-items: center;
    place-content: center;
    font-weight: 400;
    border: #157FFB;
    background: #157FFB;
    color: #FFFFFF;
    line-height: 1.27;
    width: 127px;
    font-size: 22px;
    border-radius: 12px;
}

.navbar .navbar-menu ul li:not(:last-child) a:hover, 
.navbar .navbar-menu ul li:not(:last-child) a:focus {
    border: #FFFFFF;
    background: #FFFFFF;
    color: #157FFB;
    font-weight: 700;
}

.navbar .navbar-menu ul li .contact-button-container {
    height: calc(100% - 80px);
    margin: 40px 0;
    margin-left: 20px;
}

.navbar .navbar-menu ul li .contact-button-container .contact-button{
    background-color: #FFFFFF;
    border: #FFFFFF;
    color: #157FFB;
    font-weight: 700;
    line-height: 1.27;
    font-size: 22px;
    padding: 0 28px;
    border-radius: 12px;
    cursor: pointer;
    /* font-size: 0.625rem;
    padding: 0 0.546875rem;
    border-radius: 0.3125rem; */
}

/* home-section */
.home-section {
    margin-bottom: 63.34px;
}

.home-section .dots {
    display: block;
    position: absolute;
    padding-top: 15px;
}

.home-section .container {
    display: flex;
    height: 917.68px;
}

.home-section .container .home-content {
    padding-top: 48px;
    padding-left: 228px;    
    /* width: 715px; */
    z-index: 1;
}

.home-section .container .home-content .home-content-container .home-title {
    color: #000000;
    font-weight: 700;
    line-height: 1.24;
    font-size: 54px;
    padding-bottom: 35.8px;
    width: 715px;
}

.home-section .container .home-content .home-content-container .home-description-container {
    margin-bottom: 42px;
    font-weight: 300;
    font-size: 25px;
    line-height: 38px;
}


.home-section .container .home-content .home-content-container .home-description-container .home-description {
    color: #7D7987;
    width: 634.8px;
    max-height: 190px;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.home-section .container .home-content .home-content-container .home-description-container .more-description {
    color: #157FFB;
    text-decoration: underline;
}

.home-section .container .home-content .home-content-container .home-description-container .more-description:hover {
    cursor: pointer;
}

.home-section .container .home-content .home-content-container .home-consult-button {
    background: #157FFB;
    border: #157FFB;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.25;
    font-size: 22px;
    border-radius: 100px;
    height: 67.2px;
    padding: 0 54px;
    cursor: pointer;
}

.home-section .container .home-image {
    position: absolute;
    right: 0;
    /* height: 100%; */
}

.home-section .container .home-image-container {
    /* height: 917.68px; */
    width: 1222px;
}

.home-section .container .home-image-container img{
    height: 100%;
    width: auto;
}

/* common title */
.common-title-container {
    font-weight: 700;
    font-size: 43px;
    line-height: 1.56;
}

.common-title-container .common-title {
    text-align: center;
    padding-bottom: 73px;
}

/* .common-title-container .common-line {
    border-bottom: 1px solid grey;
} */

/* .common-title-container .common-title::after 
{
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 67.2px;
    border-bottom: 2.4px solid black;
    z-index: -1;
} */

.common-title-container::after {
    /* content: ""; */
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    margin-left: -50px;
    width: 67.2px;
    border-bottom: 2.4px solid black;
    z-index: -1;
}

/* .common-title-container .common-title::before {
    content: "a";
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -50px;
    width: 67.2px;
    border-bottom: 2.4px solid black;
    z-index: -1;
} */

/* motivation-section */
.motivation-section {
    margin-bottom: 100px;
}

.motivation-section .motivation-left-frame {
    display: block;
    position: absolute;
    z-index: -1;
    width: 896.75px;
    height: 1161.53px;
}

.motivation-section .motivation-right-frame {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    padding-right: 214.3px;
    padding-top: 713.2px;
}

.motivation-section .motivation-right-frame img {
    height: 138px;
    width: 157.9px;
}

.motivation-section .motivation-description {
    color: #7D7987;
    text-align: center;
    font-weight: 300;
    line-height: 1.63;
    font-size: 22px;
    padding: 0 336px 20px;
}

.motivation-section .applications {
    margin-bottom: 75px;
}

.motivation-section .applications .applications-title {
    font-weight: 700;
    line-height: 1.63;
    color: #7D7987;
    text-align: center;
    padding: 0 375px 48px;
    font-size: 22px;
}

.motivation-section .applications .applications-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 267px;
}

.motivation-section .applications .applications-grid-container .grid-item {
    padding: 21px;
}

.motivation-section .applications .applications-grid-container .initially-hidden {
    display: none;
}

.motivation-section .applications .applications-grid-container .grid-item .card-container {
    background: #FFFFFF;
    width: 420px;
}

.motivation-section .applications .applications-grid-container .grid-item .card-container .card {
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.2);
    padding: 68px 0;
    border-radius: 24px;
}

.motivation-section .applications .applications-grid-container .grid-item .card-container .card .image-container {
    /* height: 109px; */
    height: 135px;
    display: flex;
    justify-content: center;
}

.motivation-section .applications .applications-grid-container .grid-item .card-container .card .image-container .image{
    width: 187px;
    height: 109px;
}

.motivation-section .applications .applications-grid-container .grid-item .card-container .card .content-container {
    display: flex;
    align-items: center;
    place-content: center;
    height: 60px;
    padding: 0 108px;
}

.motivation-section .applications .applications-grid-container .grid-item .card-container .card .content-container .content {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.255;
    text-align: center;
}

.motivation-section .motivation-more-button {
    display: flex;
}

.motivation-section .motivation-more-button button {
    display: flex;
    align-items: center;
    place-content: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #157FFB;

    height: 67.2px ;
    border-radius: 66px;
    border: 2px solid #157FFB;
    width: 240px;
    font-size: 21px;
    line-height: 3.42;

}

.motivation-section .motivation-more-button button:hover {
    color: #FFFFFF;
    background-color: #157FFB;
    cursor: pointer;
}

/* solution-section */
.solution-section {
    height: 510px;
    margin-bottom: 83px;
}

.solution-section .solution-left-frame {
    display: block;
    position: absolute;
    z-index: -1;
    padding-top: 368.4px;
    padding-left: 228px;
    /* width: 896.75px;
    height: 1161.53px; */
}

.solution-section .solution-right-frame {
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    padding-right: 228.5px;
    transform: translate(0, -14.8px);
}

.solution-section .solution-left-frame img, .solution-section .solution-right-frame img {
    width: 157.9px;
    height: 138px;
}

.solution-section .solution-background {
    position: relative;
    padding: 0 288px;
    width: calc(100% - 288px*2);
    height: 100%;
}

.solution-section .solution-content-container {
    transform: translate(0, -520px);
    padding: 76.8px 435px 0;
    padding: 100px 435px 0;

}

.solution-section .common-title
{
    color: #FFFFFF;
}
.solution-section .solution-content-container .solution-description
{
    font-weight: normal;
    line-height: 1.63;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
}

/* approach-section */
.approach-section {
    margin-bottom: 81.6px;
}

.approach-section .approach-frame {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    padding-top: 141.2px;
    transform: translate(26.7px, 0);
}

.approach-section .approach-frame img{
    width: 157.9px;
    height: 138px;
}

.approach-section .approach-description {
    color: #7D7987;
    font-weight: 300;
    line-height: 1.36;
    font-size: 22px;
    padding-bottom: 75px;
    text-align: center;
}

.approach-section .approaches-container {
    /* padding: 0 288px; */
    padding: 0 257px;
    display: flex;
}

.approach-section .approaches-container .approach-item {
    padding: 0 31px;
    flex: 1;
}

.approach-section .approaches-container .approach-item .card {
    background: #FFFFFF;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 24px;
    padding-top: 55px;
    /* padding-left: 82.1px;
    padding-right: 82.1px; */
    height: 638px;
}

.approach-section .approaches-container .approach-item .card .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 44.6px;
}

.approach-section .approaches-container .approach-item .card .image-container .image {
    height: 114px;
    width: 114px;
}

.approach-section .approaches-container .approach-item .card .title {
    line-height: 1.54;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    padding-bottom: 44.6px;
}

/* .approach-section .approaches-container .approach-item .card .description {
    text-align: center;
    font-weight: 400;
    line-height: 1.68;
    color: #374754;
    font-size: 22px;
    padding: 0 28px;
    padding: 0 110px 44.8px;
} */

.approach-section .approaches-container .approach-item .card .details {
    width: fit-content;
    margin-left:auto;
    margin-right: auto;
}

.approach-section .approaches-container .approach-item .card .details .detail-item {
    display: flex;
    padding-bottom: 13px;
}

.approach-section .approaches-container .approach-item .card .details .detail-item .mark {
    padding-right: 28px;
}

.approach-section .approaches-container .approach-item .card .details .detail-item .content {
    font-weight: 400;
    line-height: 1.68;
    color: #4F5665;
    font-size: 22px;
}

/* benefit-section */
.benefit-section {
    margin-bottom: 100px;
}

.benefit-section .benefit-left-frame {
    display: block;
    position: absolute;
    z-index: -1;
    padding-top: 124.67px;
    padding-left: 229.2px;
}

.benefit-section .benefit-left-frame img {
    width: 157.9px;
    height: 138px;
}

.benefit-section .benefit-right-frame {
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    padding-right: 228.5px;
    transform: translate(0, -14.8px);
}
/* 
.benefit-section .benefit-left-frame img, .benefit-section .benefit-right-frame img {
    width: 157.9px;
    height: 138px;
} */

.benefit-section .benefits-container {
    display: flex;
    padding: 0 267px;
}

.benefit-section .benefits-container .benefit-item {
    flex: 1;
    padding: 0 21px;
}

.benefit-section .benefits-container .benefit-item .card {
    background: #FFFFFF;
    border-radius: 24px;
    padding-top: 90px;
    height: 557px;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.2);
}

.benefit-section .benefits-container .benefit-item .card .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.benefit-section .benefits-container .benefit-item .card .image-container .image {
    height: 114px;
    width: 114px;
}

.benefit-section .benefits-container .benefit-item .card .title {
    font-weight: 700;
    text-align: center;
    line-height: 1.6;
    font-size: 24px;
    padding: 0 65px 15px;
}

.benefit-section .benefits-container .benefit-item .card .description {
    color: #7D7987;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    font-size: 22px;
    padding: 0 50px;
}

/* coding-required section */

/* first design */
/* .coding-required-section {
    margin-bottom: 60px;
}

.coding-required-section .coding-required-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}

.coding-required-section .coding-required-content-container {
    padding-top: 316px;
    padding-left: 142px;
    width: 853px;
} 
.coding-required-section .coding-required-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}

.coding-required-section .coding-required-content-container {
    padding-top: 316px;
    padding-left: 142px;
    width: 853px;
}

*/

/* second design */
.coding-required-section {
    margin-bottom: 75.6px;
    width: 100vw;
    height: calc(100vw * 912/1920);
}

.coding-required-section .coding-required-background {
    position: relative;
    width: 100%;
    height: 100%;
}

.coding-required-section .coding-required-content-container {
    padding-top: 300px;
    padding-left: 106px;
    /* width: 925px; */
    width: 941px;
    transform: translate(0, calc(100vw * -912/1920 - 10px));

}

.coding-required-section .coding-required-content-container .common-title-container {
}

.coding-required-section .coding-required-content-container .common-title {
    /* text-align: left; */
    color: #ffffff;
}

.coding-required-content-container .coding-required-description {
    font-weight: 300;
    text-align: center;
    font-size: 22px;
    line-height: 1.27;
    color: #FFFFFF;
}

/* ready-to-protect-section */

.ready-to-protect-section {
    height: 318px;
    margin-bottom: 75px;
}

.ready-to-protect-section .ready-to-protect-frame {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    padding-top: 329.34px;
    padding-right: 109.7px;
}

.ready-to-protect-section .ready-to-protect-frame img { 
    Width: 157.9px;
    height: 138px;
}

.ready-to-protect-section .ready-to-protect-background {
    padding: 0 288px;
    width: calc(100% - 288px * 2);
    height: 100%;
}

.ready-to-protect-section .ready-to-protect-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    transform: translate(0, -328px);
    padding: 0 460px;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-content-container {
    padding-top: 93px;
    width: 375px;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-content-container .ready-to-protect-title {
    font-weight: 700;
    color: #ffffff;
    font-size: 43px;
    line-height: 1.047;
    padding-bottom: 33.5px;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-content-container .ready-to-protect-description {
    font-weight: 400;
    color: #ffffff;
    font-size: 22px;
    line-height: 1.36;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-button-container {
    text-align: right;
    flex: 1;
    /* padding: 91.5px 0px;
    height: calc(100% - 91.5px * 2); */
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-end;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-button-container button { 
    width: 250px;
    height: 60px;

    border-radius: 100px;
    padding: 0 41px;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.19;
    color: #ffffff;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-button-container .request-button {
    background: #157FFB;
    border: #157FFB;
    margin-bottom: 15.5px;
}

.ready-to-protect-section .ready-to-protect-container .ready-to-protect-button-container .contact-button {
    background: #30A64A;
    border: #30A64A;

}

/* footer */

footer {
    background: #222425;
    color: #ffffff;
    place-content: center;
    height: 98px;
}

footer .footer-icon-container {
    position: absolute;
    left: 230px;
}

footer .footer-icon-container .footer-icon-items-container {
    display: flex;
    width: 100%;
    height: 98px;
}

footer .footer-icon-container .footer-icon-items-container .footer-icon-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 35px 30px;
}

footer .footer-icon-container .footer-icon-item .icon {
    height: 100%;
}

.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    height: 100%;
}